<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sistemacelebracionweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sistemacelebracionweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SistemaCelebracionWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SistemaCelebracionWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DAL_ContextoConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sistemawebcelebracionserver.database.windows.net;Initial Catalog=SistemaWebCelebracionLOCAL;Persist Security Info=False;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DAL_ContextoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sistemawebcelebracionserver.database.windows.net;Initial Catalog=SistemaWebCelebracionLOCAL;Persist Security Info=False;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConStr" Order="2" Enabled="False">
          <Destination Path="Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="tcp:sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;Persist Security Info=False;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tcp:sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;Persist Security Info=False;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DAL_ContextoConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConStr-Web.config Connection String">
      <ParameterValue>Data Source=sistemawebdb.database.windows.net,1433;Initial Catalog=SistemaWebCelebracion;User ID=elias;Password=Ferrari2010;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>